body {
    display: flex; /* Habilita o layout flexbox, tornando os elementos filhos flexíveis */
    justify-content: center; /* Centraliza os filhos horizontalmente no container */
    align-items: center; /* Centraliza os filhos verticalmente no container */
    height: 100vh; /* Altura total da viewport */
    background-color: #f4f4f4; /* Define a cor de fundo como um cinza claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Define uma fonte moderna e legível */
}

.calculator {
    width: 260px; /* Define a largura da calculadora */
    background: #ffffff; /* Fundo branco puro para a calculadora */
    border-radius: 12px; /* Bordas arredondadas para suavizar a aparência */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para efeito 3D sutil */
    padding: 20px; /* Espaçamento interno para não colar os conteúdos nas bordas */
    display: flex; /* Utiliza flexbox para organizar os elementos internos */
    flex-direction: column; /* Organiza os filhos em uma coluna */
    align-items: center; /* Centraliza os elementos filhos horizontalmente dentro do flex container */
}

.keys {
    display: grid; /* Utiliza grid para organizar os botões em uma grade */
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanho igual */
    gap: 19px; /* Espaço entre os botões */
}

.keys button {
    width: 50px; /* Largura fixa para todos os botões */
    height: 45px; /* Altura fixa para todos os botões */
    font-size: 18px; /* Tamanho da fonte para facilitar a leitura */
    background-color: #e0e1e2; /* Cor de fundo clara para os botões */
    border: none; /* Sem borda nos botões */
    border-radius: 8px; /* Bordas arredondadas dos botões */
    transition: background-color 0.3s; /* Transição suave da cor de fundo ao interagir */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para os botões */
}

.keys button:hover {
    background-color: #d1d3d4; /* Cor de fundo alterada ao passar o mouse */
}

#display {
    width: calc(100% - 10px); /* Largura ajustada para caber dentro do container considerando o padding */
    height: 40px; /* Altura fixa do display */
    text-align: right; /* Alinha o texto à direita */
    margin-bottom: 20px; /* Espaço abaixo do display */
    font-size: 22px; /* Tamanho maior da fonte para o display */
    padding: 5px; /* Padding interno no display */
    background-color: #f9f9f9; /* Cor de fundo suave para o display */
    border-radius: 8px; /* Bordas arredondadas para o display */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); /* Sombra interna sutil para dar profundidade */
}
